@font-face {
  font-family: "Piazzolla Bold";
  src: url("./fonts/Piazzolla-Bold.woff2") format("woff2"),
    url("./fonts/Piazzolla-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post Grotesk";
  src: url("./fonts/PostGrotesk-Bold.woff2") format("woff2"),
    url("./fonts/PostGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Post Grotesk";
  src: url("./fonts/PostGrotesk-Regular.woff2") format("woff2"),
    url("./fonts/PostGrotesk-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* colors */
  --color-main: #000;

  --color-grey-0: #808080;
  --color-grey-1: #eff0f0;

  --color-white: #ffffff;

  /* letter spacing */
  --spacing-s: 0.125px;
  --spacing-m: 0.25px;
  --spacing-l: 0.75px;

  /* spaces */
  --space-xs: 2px;
  --space-s: 5px;
  --space-m: 10px;
  --space-l: 15px;
  --space-xl: 30px;

  /* line-height */
  --line-height-s: 120%;
  --line-height-m: 135%;
  --line-height-l: 150%;

  /* font-sizes */
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 48px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Piazzolla Bold";
}

a.source {
  font-size: var(--font-size-s);
  color: var(--color-grey-0);
  text-decoration: none;
}

.source:after {
  content: "↗";
  padding-left: 5px;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  font-family: "Post Grotesk", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 500;
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

/* a:visited {
  color: black;
} */

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

textarea:focus,
input:focus {
  outline: none;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

.marker {
  font-size: var(--font-size-xs);
  background: var(--color-grey-0);
  padding: 5px;
  border-radius: 3px;
}

.vis {
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(26, 25, 43, 0.016) 0px 2.8px 2.2px,
    rgba(26, 25, 43, 0.02) 0px 12.5px 10px,
    rgba(26, 25, 43, 0.024) 0px 22.3px 17.9px,
    rgba(26, 25, 43, 0.027) 0px 41.8px 33.4px,
    rgba(26, 25, 43, 0.02) 0px 100px 80px;
}

.padding {
  padding: 0 var(--space-m);
}

.sticky {
  position: sticky;
  top: 0;
}

.distWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 100%;
}

.metric {
  font-size: var(--font-size-xs);
}

.dist {
  font-size: var(--font-size-l);
  font-weight: bold;
}
