$color-main: #080e2f;
$color-main-80: #393e59;
$color-main-60: #6b6e82;
$color-main-40: #9c9fac;
$color-main-20: #cecfd5;

$color-tile-light: #f6f8f9;
$color-tile: #e0e7eb;

$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-s: 18px;
$font-size-m: 20px;
$font-size-l: 32px;
$font-size-xl: 36px;
$font-size-xxl: 44px;

$line-height-s: 120%;
$line-height-m: 135%;
$line-height-l: 150%;

$letter-spacing-s: 0.25px;
$letter-spacing-m: 0.5px;

$border-radius-m: 6px;

$color-light: #fff;
$color-light-20: rgb(233, 233, 233);
$color-light-40: rgb(198, 198, 198);
$color-light-60: rgb(165, 165, 165);
$color-light-80: rgb(91, 91, 91);

$space-xs: 2px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 30px;

$size-vis: 960px;
$size-chart: 640px;
$size-content: 550px;

$screen-phablet: 550px;
$screen-medium: 960px;
$screen-large: 1280px;

$height-vis: 300px;
