$color-main: #000;

$color-light: #fff;
$color-light-20: rgb(233, 233, 233);
$color-light-40: rgb(198, 198, 198);
$color-light-60: rgb(165, 165, 165);
$color-light-80: rgb(91, 91, 91);

$space-xs: 2px;
$space-s: 5px;
$space-m: 10px;
$space-l: 15px;
$space-xl: 30px;

$size-vis: 960px;
$size-chart: 640px;
$size-content: 550px;

$height-vis: 300px;
